:root{

    --rose-800:#7A284E;
    --rose-50:#FFF7FB;
    --stone-900:#312E2C;
    --stone-600:#5f564d;
    --stone-150:#E3DDD7;
    --stone-100:#F3E5D7;
    --brown-800:#854632;
    --white:#fff;

}


@font-face {
    font-family: Young-Serif-Regular;
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

@font-face {
    font-family: Oufit-SemiBold;
    src: url('./assets/fonts/outfit/static/Outfit-SemiBold.ttf');
}

@font-face {
    font-family: Oufit-black;
    src: url('./assets/fonts/outfit/static/Outfit-Black.ttf');
}

@font-face {
    font-family: Oufit-bold;
    src: url('./assets/fonts/outfit/static/Outfit-Bold.ttf');
}
@font-face {
    font-family: Outfit-Regular;
    src: url('./assets/fonts/outfit/static/Outfit-Regular.ttf');
}






*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    width:100%;
    
    justify-content: center;
    align-items: center;
    font-size:16px;
}

.wrapper{
    max-width:736px;
}

main{
    padding:24px;
}
header{
    height: 171px;
    margin-bottom:40px;
}

img{
    width:100%;
    height:100%;
}

.about h1 {
    color: var( --stone-900);
/* Desktop/text-preset-1 */
font-family: "Young-Serif-Regular";
font-size: var(--font-size-mobile-text-preset-1, 36px);
font-style: normal;
font-weight: 400;
line-height: 100%; /* 36px */
margin-bottom:24px;
}



.about p{
    color: var(--color-stone-600, #5F564D);
/* Desktop/text-preset-4 */
font-family:  "Young-Serif-Regular";
font-size: var(--font-size-desktop-text-preset-4, 16px);
font-style: normal;

line-height: 150%; /* 24px */
margin-bottom:32px;
}

main h3 {
    color: #854632;
/* Desktop/text-preset-3 */
font-family: Young-Serif-Regular;
font-size: var(--font-size-desktop-text-preset-3, 20px);
font-style: normal;
font-weight: 600;
line-height: 100%; /* 20px */
padding: 24px 0;
}

.preparation{

    padding:24px;
    background:var(--rose-50);
    margin-bottom:32px;
}


.preparation h4{
    margin-bottom:16px;
    color: var(--color-rose-800, #7A284E);
/* Desktop/text-preset-3 */
font-family: Oufit-SemiBold;
font-size: var(--font-size-desktop-text-preset-3, 20px);
font-style: normal;
font-weight: 600;
line-height: 100%; /* 20px */
}

.main-ul {
    list-style: inside;
    gap:8px;
    display: flex;
    flex-direction: column;


}
.instructions ol{
    display:flex;
    flex-direction:column;
    gap:8px;
}
li span {
   position:relative;
   left:16px;
}

.calories-list{
padding:0 32px;
display:flex;
flex-wrap:wrap;
gap:12px;
padding-top:24px;


}

.macro-name{
    width:50%;
    color: var(--color-stone-600, #5F564D);
/* Desktop/text-preset-4 */
font-family: Outfit-Regular;
font-size: var(--font-size-desktop-text-preset-4, 16px);
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
}
.macro-amount{
    flex:1;
    color: var(--color-brown-800, #854632);
/* Desktop/text-preset-4-bold */
font-family: 'Oufit-bold';
}

hr{
    width:100%;
}

@media only screen and (min-width: 600px) {

    body{
        max-width:1440px;
        background: var(--color-stone-100, #F3E5D7);
        
    }
.wrapper{
    width: 736px;
    margin: 128px auto;
    border:1px solid black;
    background:#fff;
}

.container{
    padding:40px ;
}
main{
    padding:0;
}

header{
    height:300px;
 
}

header img {
    border-radius:12px;
}


main h3 {
    font-size:28px;
}
}
